<div class="authenticate-description">
  {{authenticateDescLabelAndUser}}
</div>
<div class="authenticate-description">
  {{authenticateEnterPassword}}
</div>
<div class="authenticate-label">
<span class="binf-glyphicon binf-glyphicon-star"></span>
  {{label}}
</div>
<input type="password" class="authenticate-input" placeholder="{{placeholder}}"
          aria-label="{{ariaLabel}}" aria-required="true"></input>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->