{{#if displayIcon}}
  <div class="csui-thumbnail-overview-icon"></div>
{{/if}}
{{#if defaultAction}}
  {{#if inactive}}
    <div class="csui-thumbnail-name csui-thumbnail-name-{{cid}}">
      <div class="csui-thumbnail-name-justify-div">
        <p class="csui-thumbnail-name-value csui-thumbnail-no-default-action"
           title="{{name}}" aria-label="{{nameNoOpenAria}}">{{name}}</p>
      </div>
    </div>
  {{else}}
    <div class="csui-thumbnail-name csui-thumbnail-name-{{cid}}">
      <a href="{{defaultActionUrl}}"
         class="csui-thumbnail-name-value csui-thumbnail-default-action csui-thumbnail-name-justify-div"
         title="{{name}}" aria-label="{{nameAria}}">
        <span class="csui-thumbnail-name-link-text">{{name}}</span>
      </a>
    </div>
  {{/if}}
{{else}}
  <div class="csui-thumbnail-name csui-thumbnail-name-{{cid}}">
    <div class="csui-thumbnail-name-justify-div">
      <p class="csui-thumbnail-name-value csui-thumbnail-no-default-action"
         title="{{name}}" aria-label="{{nameNoOpenAria}}">{{name}}</p>
    </div>
  </div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->