{{#if enableCheckBox}}
  <span class="icon icon-checkbox {{showOnHover}}" role="checkbox" aria-checked="false" aria-label="{{filterCheckboxAria}}" tabindex="-1">
    <input type="checkbox" aria-label="{{filterCheckboxAria}}"/>
  </span>
{{/if}}
<div class="csui-filter-name" tabindex="-1" aria-label="{{filterTitleAria}}">
  <div class="csui-name">{{name}}</div>
  <div class="csui-total">{{total}}</div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->