<a href="javascript:;" class="caret-show-breadcrumb" style="display: none;" aria-label="{{showBreadcrumbsAria}}">
    <span class="csui-button-icon icon-expandArrowDown"></span>
</a>
<a href="javascript:;" class="caret-hide-breadcrumb" style="display: none;" aria-label="{{hideBreadcrumbsAria}}">
    <span class="csui-button-icon icon-expandArrowUp"></span>
</a>
<button type="button" class="binf-btn binf-btn-default btn-show-breadcrumb"
        aria-label="{{showBreadcrumbsAria}}" style="display: none;" aria-pressed="false">
    <span class="csui-button-icon icon-expandArrowDown"></span> {{showBreadcrumbs}}
</button>
<button type="button" class="binf-btn binf-btn-default btn-hide-breadcrumb"
        aria-label="{{hideBreadcrumbsAria}}" style="display: none;" aria-pressed="true">
    <span class="csui-button-icon icon-expandArrowUp"></span> {{hideBreadcrumbs}}
</button>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->