<a class="csui-item-standard csui-list-group-item" href="#">
<span class="csui-icon csui-start-icon {{selected}}"></span>
<span class="csui-type-icon" aria-hidden="true" title="{{iconTitle}}"></span>
<span title="{{name}}" class="csui-list-item-title">
  {{name}}
</span>
<span class="csui-icon csui-end-icon {{browsed}}"></span>
</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->