<div class='wfstatusitem-details'>

  <div class="wfstatusitem-details-rec">
    <div class="wfstatusitem-details-label">{{NameLabel}}</div>
    <div class="wfstatusitem-details-value" title="{{wfName}}">{{wfName}}</div>
  </div>

  <div class="wfstatusitem-details-rec">
    <div class="wfstatusitem-details-label">{{dueDateLabel}}</div>
    <div class="wfstatusitem-details-value" title="{{dueDate}}">{{dueDate}}</div>
  </div>

  <div class="wfstatusitem-details-rec">
    <div class="wfstatusitem-details-label">{{statusLabel}}</div>
    <div class="wfstatusitem-details-value" title="{{status}}">{{status}}</div>
  </div>

  <div class="wfstatusitem-details-rec">
    <div class="wfstatusitem-details-label">{{initiatorLabel}}</div>
    <div class="wfstatusitem-details-value" title="{{initiator}}">
      <span class="wfstatusitem-mini-profile-avatar">
         <span class="wfstatus-mini-profile-pic">
             <div class="image_user_placeholder wfstatusitem-userprofile-default-avatar binf-hidden"
                  title="{{initiator}}"></div>
             <img id="wfstatusitem-mini-profile-pic-{{userId}}"
                  class="wfstatusitem-userprofile-img
             binf-img-circle-show binf-hidden" >
         </span>
      </span>
      {{initiator}}</div>
  </div>

  <div class="wfstatusitem-details-rec">
    <div class="wfstatusitem-details-label">{{startedLabel}}</div>
    <div class="wfstatusitem-details-value" title="{{startDate}}">{{startDate}}</div>
  </div>

</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->